name: ci
on:
  pull_request:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: jdx/mise-action@v3
      - run: pnpm i
      - name: types
        if: ${{ always() }}
        run: pnpm run build:types
      - name: test
        id: test
        if: ${{ always() }}
        run: pnpm run test
      - name: lint
        if: ${{ always() }}
        run: pnpm run lint
      - name: style
        if: ${{ always() }}
        run: pnpm run format:check
