name: Pull Request
on:
  pull_request:

permissions:
  checks: write
  issues: write
  pull-requests: write

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - uses: jdx/mise-action@v3
      - run: pnpm i
      - name: Knip Reporter
        uses: ./
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
